.crossword {
    display: grid;
    grid-template-columns: repeat(5, 7vh);
    grid-template-rows: repeat(5, 7vh);
    gap: 4vh;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(187, 220, 202);
}

.cell {
    background-color: white;
    border-radius: 2vh;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 5vh;
    user-select: none;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(187, 220, 202);
}

body {
    background-color: rgb(73, 95, 101);
    transition: background-color 0.5s ease-in;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
}

.submit {
    position: inherit;
    color: black;
    width: 54vh;
    height: 10vh;
    border-radius: 2vh;
    border: 0px;
    font-weight: 500;
    font-size: 4vh;
    margin-top: 1vh;
    background-color: rgb(200,200,200);
}

.cellNumber {
    font-size: 2vh;
    margin-bottom: 6vh;
    margin-right:6vh;
    position: absolute;
    user-select: none;
}

.submit:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.filled {
    background-color: black;
}

.filled:hover {
    background-color: black;
    cursor: default;
}

.clues {
    position: inherit;
    user-select: none;
    font-size: 3.5vh;
    margin-left: 50px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    height: 62.5vh;
    border-radius: 10px;
}

.clues .clue {
    color: white;
    text-shadow: 1px 1px 10px white;
    font-size: 3vh;
    opacity: 0;
    margin-bottom: 10px;
}

.gameContainer {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    height: 100vh;
}